<div class="product-details">
    {{!-- header --}}
    <section>
        <h3>Hoka One One Rincon 3 Men's Running Shoe</h3>
        <div class="text-warning">
            <FaIcon @icon="star" @size="1x" />
            <FaIcon @icon="star" @size="1x" />
            <FaIcon @icon="star" @size="1x" />
            <FaIcon @icon="star" @size="1x" />
            <FaIcon @icon="star" @size="1x" />
        </div>
    </section>
    {{!-- Price --}}
    <section>
        <del class="small text-black-50">$129.99</del>
        <i class="text-danger font-weight-bold">$109.99</i>
    </section>
</div>