{{page-title "Item"}}
<GeneralContainer>
    <div class="product item-details-page">
        <Product::Image/>
        <Product::Details @color={{this.color}} @onChangeColor={{this.onChangeColor}}/>
    </div>
    <h4 class="mt-5">Delivering the best cushion to-weight ratio on the market, the Rincon 3 returns in a stupefyingly light silhouette</h4>
    <h5 class="mt-5">FEATURES</h5>
    <ul>
        <li>Engineered sandwich mesh upper offers lightweight breathability</li>
        <li>Slim tongue package reduces weight</li>
        <li>Accentuated heel pull tab for easy entry</li>
        <li>Full-compression EVA midsole provides signature HOKA cushioning</li>
        <li>Revised early-stage Meta-Rocker allows for a quick acceleration</li>
        <li>Full ground contact designed for smooth and stable ride</li>
        <li>Strategic high-abrasion rubber zones to reduce weight</li>
    </ul>
</GeneralContainer>
{{outlet}}